section#company {
  padding: 120px 0;
  background: $whiteBg;
  .logo {
    &_title {
      font-size: 18px;
    }
    &_subtitle {
      font-size: 11px;
    }
    svg {
      width: 60px;
      height: 60px;
    }
    &__icon {
      margin-right: 20px;
    }
  }
  .rs {
    background: linear-gradient(-60deg, #a83f3f, #bc4949, #bc4949, #bc4949);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.company {
  &__inside {
    display: flex;
    justify-content: space-between;
    .colum:nth-child(2) {
      position: relative;
      width: 50%;
      display: flex;
      align-items: flex-end;
      svg {
        position: absolute;
        right: 470px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &__title {
    max-width: 450px;
    @include h700;
    font-size: 20px;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 200px;
    span {
      color: $red;
    }
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 470px;
    border: 1px solid rgba(29, 35, 46, 0.1);
    box-sizing: border-box;
    padding: 30px 0;
    &-line {
      position: absolute;
      top: 50%;

      left: -542px;
    }
  }
}

.company__logo {
  max-width: 370px;
  height: 198px;
  background: $dark;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.company__call {
  position: relative;
  margin: 0;
  transform: translateY(0%);
  margin-top: 120px;
  &-inside {
    max-width: 450px;
    color: $white;
  }
  &-title {
    @include h700;
    font-size: 24px;
    line-height: 150%;
    text-transform: uppercase;
  }
  &-subtitle {
    @include s400;
    font-size: 16px;
    margin-top: 30px;
  }
  .badge {
    transition: all 2s;
    transition-delay: 1s;
    position: absolute;
    top: -50%;
    right: -50%;
    z-index: 3;
    &.active {
      top: 0;
      right: 0;
    }
  }
}
#companyline1 {
  animation: show 2s linear forwards;
  stroke-dasharray: 150%;
}
#companyline2 {
  animation: show 2s 0.5s linear forwards;
  stroke-dasharray: 150%;
}
#companyline3 {
  animation: show 2s 1s linear forwards;
  stroke-dasharray: 150%;
}
#companyline4 {
  animation: show 2s 1.5s linear forwards;
  stroke-dasharray: 150%;
  transform: rotate(180deg);
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes show {
  0% {
    stroke: #1d232e;
    stroke-opacity: 0;
    stroke-dasharray: 150%;
  }
  50% {
    stroke: #1d232e;
    stroke-opacity: 0;
    stroke-dasharray: 80%;
  }
  100% {
    stroke: $red;
    stroke-opacity: 1;
    stroke-dasharray: 5px;
  }
}
