section#company {
  padding: 120px 0;
  background: $whiteBg;
  .rs {
    background: linear-gradient(-60deg, #a83f3f, #bc4949, #bc4949, #bc4949);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .bgRs {
    position: relative;
    background: $red;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    &-line {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-100%);
      animation: teststart 2s linear infinite;
    }
    .rs {
      position: relative;
      font-size: 370px;
      line-height: 270px;
      right: 27px;
      bottom: 0;
    }
  }
}

.company {
  &__inside {
    display: flex;
    justify-content: space-between;
    .colum:nth-child(1),
    .colum:nth-child(2) {
      width: 50%;
    }
  }
  &__title {
    max-width: 450px;
    @include h700;
    font-size: 20px;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 200px;
    span {
      color: $red;
    }
  }
}

.company__call {
  position: relative;
  margin: 0;
  transform: translateY(0%);
  margin-top: 120px;
  width: 100%;
  &-inside {
    max-width: 450px;
    color: $white;
  }
  &-title {
    @include h700;
    font-size: 24px;
    line-height: 150%;
    text-transform: uppercase;
  }
  &-subtitle {
    @include s400;
    font-size: 16px;
    margin-top: 30px;
  }
  .badge {
    transition: all 2s;
    transition-delay: 1s;
    position: absolute;
    top: -50%;
    right: -50%;
    z-index: 3;
    &.active {
      top: 0;
      right: 0;
    }
  }
}

@keyframes teststart {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(110%);
  }
}
