.vacancy {
  display: flex;
  justify-content: space-between;
  color: $white;
  &-icon {
    width: 454px;
    margin-right: 50px;
    img {
      max-width: 100%;
    }
  }

  &-title {
    @include g400;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 150%;
  }
  &-description {
    @include s400;
    line-height: 150%;
    font-size: 14px;
    max-width: 230px;
  }
}
