#about {
  background: $whiteBg;
  .button {
    background: $red;
    &::before {
      background: $dark;
    }
  }
}
.about__call {
  position: relative;
  width: 100%;
  background: $red;
  padding: 80px 100px;
  transform: translateY(-50%);
  overflow: hidden;
  box-sizing: border-box;
}

.about__title {
  display: flex;
  flex-direction: column;
  @include h700;
  font-size: 24px;
  text-transform: uppercase;
  color: $white;
  span {
    text-decoration: underline;
  }
  .button {
    width: 100px;
  }
  .about-btn {
    cursor: pointer;
    font-size: 16px;
    @include g400;
    text-transform: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140px;
    margin-top: 60px;
    img {
      width: 30px;
      height: 30px;
    }
  }
}

.about__inside {
  display: flex;
  justify-content: space-between;
  &-logo {
    max-width: 470px;
    margin: 60px 0px 30px 0;
    img {
      max-width: 100%;
    }
  }
  &-statistics {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0px 0px 100px;
  }
}

@media (max-width: $tablet-width) {
  .about__call {
    .rs {
      width: 250px;
      height: 150px;
      bottom: -5%;
    }
  }
  .about__inside-statistics {
    .about__inside-status {
      &-title {
        font-size: 25px;
      }
      &-subTitle {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 869px) {
  .about__inside {
    flex-direction: column;
    padding-bottom: 70px;
  }
  .about__inside-statistics {
    padding: 0;
  }
}

@media (max-width: $mobile-width) {
  .about__call {
    padding: 0;
    height: 350px;
    padding: 30px;
    transform: translateY(-25%);
    .rs {
      width: 150px;
      height: 100px;
      bottom: -5%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .about__title {
    font-size: 18px;
  }
  .about__inside {
    flex-direction: column;
    padding-bottom: 70px;
  }
  .about__inside-statistics {
    .about__inside-status {
      &-title {
        font-size: 18px;
      }
      &-subTitle {
        font-size: 9px;
      }
    }
    padding: 0;
  }
}
